/* CSS reset */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Cormorant+SC:wght@500&family=Dancing+Script:wght@500&family=Montserrat:ital,wght@1,100&family=Noto+Serif+Ahom&family=Paprika&family=Playfair+Display&family=Poppins:wght@300&family=Roboto:wght@300&family=Rubik+Puddles&family=Sora:wght@300&family=Tajawal:wght@200&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width:100%;
}
#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0px;
    padding: 1rem;
    width:100%;
    z-index: 2;
}


#navbar ul{
    display: flex;
}

#navbar ul li{
    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a{
    color: white;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration:none;
    letter-spacing: 0.1rem;
font-family: 'Cormorant SC', serif;
   transition: transfor all 0.3s ease-in-out;
}

#navbar ul li a:hover{
    /* color: brown; */
    transform: scale(1.2);
    transition: all 0.3s ease;
    font-weight: bold;
    /* background-color: white; */
} 

/* ================================Home Section====================== */
#home{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    content: "";
    background: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)), url(bg4.jpeg) no-repeat center center/cover;
    height: 100vh;
    width: 100%;
    top: 0px;
    left: 0px;
    margin-bottom: 4rem;
    z-index: -1;
    padding: 2rem;
    /* opacity: 0.89; */
    /* filter: brightness(40%); */
    background-color: rgb(0,0,0.6,0.9);

}

#home h1{
    color: white;
    text-align: center;
}

#home p{
    color:white;
    text-align: center;
    font-size: 1.5rem;
    /* line-height: 1rem; */
    font-family: 'Tajawal', sans-serif;
    /* font-family: 'Bree Serif', serif; */
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    height:3.5rem;
    width:10rem;
    font-size: 1.2rem;
    background-color: brown;
    color: white;
    border-radius: 1rem;
    margin-top: 2rem;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    font-family: 'Poppins', sans-serif;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.btn:hover{
    font-weight: bold;
    transform: scale(1.2);
}
/* services section */
#service-container{
    display: flex;
    justify-content: center;
    align-items: center;
    
    flex-direction: column;
    width:100%;
    text-align: center;
    /* padding: 2rem; */
    margin-bottom: 3rem;
}
#client-section{
    width:100%;
    text-align: center;
}
#client-section h1{
    font-size: 3.8rem;
}
#services{
    /* margin: 34px; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap:2rem;
    width:90%;
    /* flex-wrap: wrap; */
}
i{
    cursor: pointer;
}

#services .box{
   /* border: 2px solid brown; */
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   padding: 3rem;
   height:25rem;
   width:22rem;
   /* margin: 3px 6px; */
   border-radius: 28px;
   background: #f2f2f2;
   box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
#services .box p{
    font-family: 'Tajawal', sans-serif;
    color: rgb(110, 109, 109);
    font-weight: bold;
    text-align: justify;
}
#services .box  h2{
    font-family: 'Poppins', sans-serif;
    margin-bottom: 1rem;
}



#services .box img{
    height: 160px;
    margin: auto;
    display: block;
    /* border:1px solid red; */
}

/*==========================client-section========================*/
#client-section{
    /* height: 344px; */
}

#client-section::before{
    content: "";
    /* background: url(bg1.jpg) no-repeat center center/cover; */
    width: 100%;
    height: 100%;
    z-index:-1;
    /* opacity: 0.4; */
    /* border:4px solid yellow; */
}


#Clients{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:1rem;
    /* border:4px solid yellow; */
}

#Clients img{
    /* height: 114px; */
    width:10rem;
    /* border:4px solid yellow; */
}
#home h1 ,#client-section h1, #service-container h1{
    margin-bottom: 2rem;
    font-size: 2.8rem;
    font-family: 'Comfortaa', cursive;
    
}
#client-section h1, #service-container h1{
    text-shadow: 3px 3px 5px  rgb(89, 87, 87);
    font-family: 'Poppins', sans-serif;

}
nav .menu-btn i{
    color: brown;
    font-size: 2rem;
    display: none;
}
#click{
    display: none;
}
@media only screen and (max-width: 700px){
    nav .menu-btn i{
        display: block;
    }
    #click:checked~ .menu-btn i:before{
        content:"\f00d";
    }
    #click:checked~ ul{
        left: 0%;
    }
    nav ul{
        align-items: center;
        flex-direction: column;
        position: fixed;
        top:4rem;
        left: -100%;
        background-color: #111;
        height:100vh;
        width: 100%;
        text-align: center;
        transition: all 0.3s ease;
    }
    nav ul li{
        margin:2rem 0;
        
    }
    nav ul li a{

        font-size: 2rem;
        /* border: 1px solid white; */
        width: max-content;
        /* display: block; */
    }
   
    nav ul li a:hover{
        /* color: brown; */
        font-weight: bolder;
        background: none;
        transition: all 0.3s ease;
    }
    #home h1 ,#client-section h1, #service-container h1{
        font-size: 2.3rem;
    }
    #home p{
        font-size: 1.2rem;
    }
    /* #services{

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
    } */
    #Clients{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
    }
    #services .box{
        width:90%;
    }

}
@media only screen and (max-width: 352px)
{
    #home, #service-container{
        margin-bottom: 1rem;
    }
    #services .box{
        padding: 1rem;
    }

    #services .box p{
        font-size: 0.9rem;
        /* border: 1px solid black; */
    }
}
